
.head{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 75%;
}

.busca{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.pesquisa{
    position: relative;
    background-color: var(--cor0);   
    width: 80%;
    border-radius: 20px;
}

.pedidos{
    position: relative;
    background-color: var(--cor3);
    width: 150px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.h2Tela4{
    color: var(--cor0);
    font-size: 18px;
}

.containerPromo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocoPromo{
    width: 300px;
    height: 160px;
    border-radius: 20px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promo{
    width: 100%;
    border-radius: 20px;
}

.promo.dois{
    width: 90%;
}


.containerProdutos{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocoProdutos{
    width: 250px;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor0);
    margin-right: 20px;
}

.imgProdutos{
    position: relative;
    display: flex;
    width: 85%;
    height: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    border-radius: 20px;
}

.h2Produtos{
    font-size: 20px;
    width: 90%;
}

.pProdutos.um{
    font-size: 12px;
    align-self: flex-start;
    margin-left: 20px;
}

.pProdutos.dois{
    font-size: 12ppx;
    align-self: flex-start;
    margin-left: 20px;
    font-family: 'font2';
}

.h3Produtos{
    font-family: 'font2';
    color: var(--cor3);
    font-size: 18px;
    align-self: flex-start;
    margin-left: 20px;
}