:root {
    --cor0: #efefef;
    --cor1: #FFFFFF;
    --cor2: #00CC65;
    --cor3: #238662;
    --cor4: #000000;
}

.branco{
    height: 90%;
    width: 360px;
    display: block;
    background-color: var(--cor1);
    position: relative;
    border-radius: 10px;
    z-index: 0;
    left: 50%;
    transform: translate(-50%, 6%);
}

main{
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.container.um{
    width: 100%;
    height: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixa.um{
    background-color: var(--cor3);
    width: 90%;
    height: 200px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.texto{
    position: relative;
    width: 90%;
    height: 50%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.extrato{
    background-color: var(--cor1);
    border: none;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

h2.tela1 {
    color: var(--cor1);
}

p.tela1 {
    color: var(--cor1);
    font-size: 10px;
}

.container.dois{
    width: 100%;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.caixa.dois{
    background-color: var(--cor3);
    width: 90%;
    height: 55px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
