
* {
  margin: 0;
  padding: 0
}

:root {
  --cor0: #efefef;
  --cor1: #FFFFFF;
  --cor2: #00CC65;
  --cor3: #238662;
  --cor4: #000000;
}

@font-face {
  font-family: 'font1';
  src: url(./Midia/Nexa-ExtraLight.ttf);
}

@font-face {
  font-family: 'font2';
  src: url(./Midia/Nexa-Heavy.ttf);
}

body {
  position: relative;
  background-color: var(--cor2);
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

p {
  font-family: 'font1';
}

h1 {
  font-family: 'font2';
}

h2 {
  font-family: 'font2';
}

h3{
  font-family: 'font1';
  font-size: 16px;
  letter-spacing: -1px;
}